<div class="message">
  <div>
    <p class="message-body"><%= message.content %></p>
  </div>
  <div class="text-right">
    <span class="message-date"><%= message.created_at.strftime('%m/%d %H:%M') %></span>
  </div>
  <hr class="message-hr"/>
</div>