<div class="container">
  <form class="form-signin py-5">
    <% if @alert %>
        <div class="alert alert-danger" role="alert">
          <%= @alert %>
        </div>
    <% end %>
    <%= link_to 'Twitterでログイン', 'auth/twitter', class: 'btn btn-lg btn-primary btn-block' %>
    <%= link_to 'GitHubでログイン', '/auth/github', class: 'btn btn-lg btn-primary btn-block' %>
  </form>
</div>