<% @page_title = 'ログイン' %>

<div class="container">
  <div class="col-lg-12">
    <form class="form-signin py-5">
      <% if @alert %>
          <div class="alert alert-danger" role="alert">
            <%= @alert %>
          </div>
      <% end %>
      <div class="col-md-12 col-lg-4 offset-lg-4">
        <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
          <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
        <a class="btn btn-block btn-social btn-github" href="/auth/github">
          <span class="fa fa-github"></span> Sign in with GitHub
        </a>
      </div>
    </form>
  </div>
</div>