<div class="container">
  <div class="col-md-12 py-5">
    <% @video_rails.each_with_index do |video_rail, i| %>
      <% if i % 3 == 0 || i == 0 %>
      <div class="row card-deck">
      <% end %>
        <div class="video-top-div col-md-12 col-lg-4 py-md-3">
          <div class="card box-shadow p-1">
            <%= link_to(video_rail, class: 'card-body video-card-body') do %>
                <img class="card-img-top" src="<%= @video_list_info[video_rail.id][:thumbnail] %>">
                <div class="d-none d-lg-block d-xl-block">
                  <p class="card-text video-list-p"><%= @video_list_info[video_rail.id][:title] %></p>
                </div>
                <div class="d-none d-md-block d-lg-none">
                  <p class="card-text video-list-p"><h2><%= @video_list_info[video_rail.id][:title] %></h2></p>
                </div>
            <% end %>
          </div>
        </div>
      <% if (i+1) % 3 == 0 || @video_rails.last == video_rail %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>