<div class="container">
  <div class="col-md-10 offset-md-1 py-5">
    <div class="form-group">
      <% @videos.each do |video| %>
        <% video.tags.each do |tag| %>
            <%= link_to(tag.name, "#{video_rails_path}?t=#{tag.name}", class: 'badge badge-primary') %>
        <% end %>
      <% end %>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <div id="video"></div>
    </div>
  </div>
</div>
<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 動画情報
  var ytPlayer;
  var videoList = [
    <% @videos.each do |video| %>
    {id: '<%= video.youtube_id %>', playTime: <%= video.play_time %>},
    <% end %>
  ];
  var videoIndex = 0;
  var startSeconds = 0;

  init();

  function init() {
    var date = new Date();
    var totalSeconds = date.getHours() * 3600 + date.getMinutes() * 60 + date.getSeconds();
    var totalPlayTime = 0;
    for (i=0; i < videoList.length; i++) {
      totalPlayTime += videoList[i]['playTime'];
    }
    var startIndex = 0;
    var seconds = totalSeconds % totalPlayTime;
    for (i=0; i < videoList.length; i++) {
      if (seconds >= videoList[i]['playTime']) {
        seconds -= videoList[i]['playTime'];
        startIndex++;
      } else {
        break;
      }
    }
    videoIndex = startIndex;
    startSeconds = seconds;
  }

  function onYouTubeIframeAPIReady() {
    ytPlayer = new YT.Player('video',
      {
        width: 640,
        height: 390,
        videoId: videoList[videoIndex]['id'],
        playerVars: {
          rel: 0,
          autoplay: 1
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      }
    );
  }

  // 自動再生
  function onPlayerReady(event) {
    console.log("index -> " + videoIndex + " seconds -> " + startSeconds);
    ytPlayer.seekTo(startSeconds);
    event.target.playVideo();
  }

  var playerStop = false;
  function onPlayerStateChange(event) {
    var ytStatus = event.data;
    // 動画終了 次の動画を再生
    if (ytStatus === YT.PlayerState.ENDED) {
      console.log('再生終了');
      videoIndex++;
      videoIndex = videoIndex % videoList.length;
      event.target.loadVideoById(videoList[videoIndex]['id']);
    }

    if (ytStatus === YT.PlayerState.PLAYING) {
      if(playerStop) {
        console.log('再生中');
        init();
        ytPlayer.seekTo(startSeconds);
        playerStop = false;
      }
    }
    if (ytStatus === YT.PlayerState.PAUSED) {
      console.log('停止中');
      playerStop = true;
    }
  }
</script>