/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../../../vendor/assets/.
 */

@font-face {
  font-family: 'GenEiGothicN-H-KL';
  src: font-url('GenEiGothicN-H-KL.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'GenEiGothicN-H-KL', 'ヒラギノ角ゴ Pro W3', メイリオ, Osaka, Arial, Verdana, 'ＭＳ Ｐゴシック', sans-serif !important;
}

body {
  background: image-url('background.png');
}

a {
  text-decoration: none !important;
}

#video-list-dev,
#edit-video-list-form,
#mypage-video-list,
#new-form-div {
  background-color: #ffffff;
}
