// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-card-body, .video-top-div {
  padding: 0 !important;
}

.video-list-p {
  padding: 10px !important;
  font-size: 1.0em
}

// タグ一覧
.tag-div {
  padding-top: 3rem !important;
}

//
.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

// メッセージエリア
.scrollbar-ripe::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-ripe::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-ripe::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.message-div {
  position: relative;
  overflow-y: scroll;
  height: 390px;
}